body {
    background-color: #0b172117;
  }
  .btnRyL {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
/*REGISTER STYLE*/
.containerRegister {
    border: 1px solid black;
  width: 40%;
  height: 520px;
  display: grid;
  place-items: center;
  margin-left: 30%;
  margin-top: 3%;
}

.h1Txt {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 150%;
}
.btnLinkR {
  text-decoration: none;
  color: black;
}
.btnRegister {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #0b1721;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 5px;
  margin-left: 15%;
  color: white;
}
.btnRegister:hover {
  transition: 1s ease;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #3f78a7;
}
.inpTxt {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.inpTxt:focus {
  transition: 1s ease;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.15) 3.5px 3.5px 4px;
}
.labelRegister {
  font-size: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}


/* LOGIN*/
.containerLogin {
    border: 1px solid black;
    width: 40%;
    height: 420px;
    display: grid;
    place-items: center;
    margin-left: 30%;
    margin-top: 5%;
  }

.btnLogin{
    font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #0b1721;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 5px;
  margin-left: 15%;
  color: white;
}
.btnLogin:hover {
    transition: 1s ease;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #3f78a7;
  }
.labelLogin{
    font-size: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
