/* .grid-container{
    display: grid;
    grid-template-columns: repeat(2, auto);     
    row-gap: 1em;
}
.aside{
    margin-top: 1em;
    height: 60vh;
    width: 150vh;
    border: solid 1px black;
}
.container-productos{
    margin-top: 1em;
    width: 20vh;
    height: 20vh;
    border: solid 1px black;
} */
 /* components/products/productos.css */

.grid-container{
    display: grid;
    grid-template-columns: 160vh 50vh;     
    row-gap: 1em;
}

/* Media query para pantallas medianas */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.container-productos{
    margin-left: 1%;
    margin-top: 1em;
    height: 60vh;
    width: 153vh;
    border: solid 1px rgb(255, 255, 255);
}

/* Media query para pantallas medianas */
@media (max-width: 768px) {
    .aside {
        width: 100vh;
        height: 50vh;
    }
}

.aside{
    margin-top: 1em;
    width: 36vh;
    height: 40vh;
    border: solid 1px rgb(255, 255, 255);
}

/* Media query para pantallas medianas */
@media (max-width: 768px) {
    .container-productos {
        width: 15vh;
        height: 15vh;
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 480px) {
    .container-productos {
        width: 10vh;
        height: 10vh;
    }
    .aside {
        width: 80vh;
        height: 40vh;
    }
}
.txt-Categoria{
    color: white;
    margin-top: 3%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.lista-Categoria{
    color: white;
    text-align: center;
    margin-top: 5%;
}
.hover{
    transition: all 1s ease;
}
.hover:hover{
    transform: scale(1.099) ;
    transition: all 0.1s ease;
    cursor: pointer;
}